.profile-search-container {
  display: flex;
  flex-direction: column;
  background: #E6F7FF;
  height: 270px;
  margin: 54px 95px;
  border-radius: 16px;
  padding-left: 31px;
  padding-top: 54px;
}

.profile-search-container h1 {
  margin-bottom: 12px;
}

.profile-search-container input {
  font-size: 16px;
  margin-bottom: 24px;
  width: 298px;
  height: 40px;
  color: #BFBFBF;
  padding-left: 17px;
  padding-top: 3px;
  border: 1px solid #D9D9D9;
}

.profile-search-container button {
  color: #fff;
  border: none;
  background-color: #1890FF;
  width: 101px;
  padding: 8px 16px;
  border-radius: 4px;
}